.title-top {
  font-size: 3rem;
  text-transform: uppercase;
  color: $colorSecondary;
  font-family: MyriadPro;
}

.title-menu {
  font-size: 1rem;
  color: $colorSecondary;
  font-family: MyriadPro;
  font-weight: 100;
  text-transform: uppercase;
  letter-spacing: 0.1rem;
}

.title {
  font-family: MostraNuova;
  text-transform: uppercase;
}

.title--section {
  font-size: 3rem;
  z-index: 100;
  line-height: 1;
}

.title--card {
  font-size: 1.5rem;
  color: $colorSecondary;
  position: relative;
  width: 100%;
  text-align: center;
  margin-bottom: 6rem;
  line-height: 2rem;
  font-weight: 600;
  transition: color 250ms ease-in-out;

  @media (max-width: 1024px) {
    margin-bottom: 4rem;
  }

  &::before {
    position: absolute;
    content: "";
    height: 0.25rem;
    width: 2.5rem;
    background: $colorSecondary;
    left: 50%;
    transform: translateX(-50%);
    bottom: -1.5rem;
    transition: background 250ms ease-in-out;
  }
}

.title--text {
  font-size: 1.5rem;
  font-weight: 100;
  color: $colorSecondary;
}

.title__divider {
  font-family: MyriadPro;
  font-weight: 400;
  letter-spacing: 0.2rem;
  text-transform: uppercase;
  position: relative;
  width: 100%;
  height: auto;
  text-align: center;

  &::before {
    position: absolute;
    content: "";
    top: 3rem;
    left: 0;
    width: 100%;
    height: 1.75rem;
    background: url("../../elements/images/ornament.svg") no-repeat center
      center;
    background-size: auto 100%;
  }
}

.title--book {
  font-size: 2.5rem;
  font-weight: 400;
  color: #fff;
  text-align: center;
  line-height: 1.2;

  & span {
    font-weight: 600;
    display: block;
  }
}
